* {
  font-family: JetBrains Mono Nerd Font;
  font-weight: normal;
  font-size: 14px;
  min-height: 0;
  color: #cdd6f4;
}
#window,
#cpu,
#window,
#memory,
#disk,
#temperature,
#clock,
#tray,
#pulseaudio,
#battery,
#network,
#workspaces,
#custom-powermenu,
#custom-spotify,
#custom-arch {
  background-color: #1e1e2e;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 3px;
}
#tray {
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
#custom-arch {
  border: 2px solid #9999cc;
  border-radius: 10px 10px 10px 10px;
}
#custom-powermenu {
  border: 2px solid #9999cc;
  border-radius: 10px 10px 10px 10px;
}
#custom-spotify {
  margin-left: 3px;
  border: 2px solid #9999cc;
  border-radius: 10px 10px 10px 10px;
}
#workspaces {
  border: 2px solid #9999cc;
}
#window {
  border-right: 2px solid #9999cc;
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
  border-radius: 10px 0px 0px 10px;
}
#clock {
  border-right: 2px solid #9999cc;
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
#network {
  border-left: 2px solid #9999cc;
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
#battery,
#pulseaudio {
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
#tray {
  border-radius: 10px 10px 10px 10px;
  margin-right: 3px;
  margin-left: 4px;
}
#network {
  border-radius: 10px 0px 0px 10px;
}
#clock {
  border-radius: 0px 10px 10px 0px;
}
#custom-arch {
  margin-left: 3px;
}
#clock {
  font-weight: bold;
  margin-right: 3px;
}
#window {
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
}
#workspaces button {
  color: gray;
  padding: 1px;
}
#workspaces button.active {
  color: white;
}

#workspaces button.focused {
  color: white;
}
#workspaces {
  border-radius: 10px 10px 10px 10px;
}
button {
  min-width: 16px;
}
#cpu {
  border-top: 2px solid #9999cc;
  border-left: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
  margin-left: 4px;
  border-radius: 10px 0px 0px 10px;
}

#memory {
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
#temperature {
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}

#disk {
  border-top: 2px solid #9999cc;
  border-bottom: 2px solid #9999cc;
}
window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
}
